.columnWrapper {
  flex: 33.33%;
}

.rowGoals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.musclegain,
.weightloss,
.maintenance {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.musclegain {
  background-image: url("../images/muscleGain.jpeg");
}
.weightloss {
  background-image: url("../images/weightlossBG.jpeg");
}
.maintenance {
  background-image: url("../images/maintaining.png");
}
/* only add hover to classes WITH column class */
.column.musclegain:hover,
.column.weightloss:hover,
.column.maintenance:hover {
  opacity: 0.5;
}
