/* html, body, #reactapp, .App {
  min-height: 100% !important;
  height: 100%;
} */

/* .App { */
  /* display: flex; */
/* } */
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

/* Set the root wrapper to the full page */
#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}