/* navigation style */
.navigation {
  background-color: #010567;
  color: #ffffff;
  width: 100%;
}

#naviagtionItems {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.appLogo {
  font-size: 3em;
  font-family: "WaitingfortheSunrise", serif;
  margin-right: auto;
}

.navigationUrl {
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
}

.navigation li {
  display: inline;
}

.navigation li a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 3vw;
  display: block;
}
.navigation li a:hover, #dropdownButton:hover {
  color: #f2c300;
}

/* Dropdown Button */
#dropdownButton {
  border: none;
  padding: 0 40px;
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
  position: relative;
  display: inline-block;
  text-align: none;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
#dropdownContent {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #010567;
  z-index: 1;
}

/* Spacing inside dropdown */
#dropdownContent .dropdownItem {
  margin: 12px 16px;
  display: block;
}

/* Change color of dropdown blocks on hover */
#dropdownContent #dropdownItem:hover {
  opacity: 0.6;
}

/* Show the dropdown contents on hover */
#dropdown:hover #dropdownContent {
  display: block;
}


 @media screen and (max-width: 750px) {
  #naviagtionItems {
    padding: 0;
    height: auto;
    display: block;
    position: relative;
  } 
  .navigationUrl a{
    padding-top: 15px;
  }
  #dropdownButton{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #dropdownContent .dropdownItem {
    margin-bottom: 15px;
    margin-top: 0px;
  }
 } 