/* navigation style */
.navigation {
  background-color: #010567;
  color: #ffffff;
  width: 100%;
}

#naviagtionItems {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.appLogo {
  font-size: 4vw;
  font-family: "WaitingfortheSunrise", serif;
  margin-right: auto;
}

.navigationUrl {
  font-size: 1.5vw;
  font-weight: bold;
  align-self: center;
}

.navigation li {
  display: inline;
}

.navigation li a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 3vw;
  display: block;
}
.navigation li a:hover {
  color: #f2c300;
}

/* Dropdown Button */
#dropdownButton {
  border: none;
  padding: 16px;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #010567;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent .dropdownItem {
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content #dropdownItem:hover {opacity: 0.6;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdownButton {opacity: 0.6;}
