#profileWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#userInfo,
#workoutInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-width: 300px;
}

#userInfo {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  height: 100%;
}
#workoutInfo {
  color: #ffffff;
  background-color: rgba(1, 5, 103, 0.8);
  flex: 33% 1;
}

#workoutTitle {
  font-size: 5em;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #profileWrapper {
    height: auto;
  }
}
