label {
  display: inline-block;
  padding-top: 10px;
  text-align: left;
  width: 140px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  padding: 0 20px 0 20px;
  border-bottom: 2px solid #f2c300;
  border-right: 2px solid #f2c300;
}
td {
  padding: 0 20px 0 20px;
  border-right: 2px solid #f2c300;
}

td:last-child,
th:last-child {
  border-right: none;
}
#gender-choice {
  padding-right: 170px;
}

@media screen and (max-width: 750px) {
  th,
  td {
    padding: 0 0 0 0;
  }

  label {
    width: auto;
  }

  #gender-choice {
    padding-right: 0;
    width: auto;
  }
}
